<h1>Catches</h1>

<div id="browse">
    <!-- Data for the initial catch -->
    <table border="1" cellpadding="5" id="Catches-table">
        <thead>
        <tr>
            <th><a href="#" onClick="newThing()">New</a></th>
            <th></th>
            {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
            {{/each}}
        </tr>
        </thead>
        <tbody>
        {{#each data}}
            <tr>
                <td><a href="#"
                       onClick="updateThing({{this.catch_id}},'{{this.player_id}}', '{{this.fish_id}}', '{{this.money_earned}}', '{{this.catch_date}}')">Edit</a>
                </td>
                <td><a href="#" onclick="deleteCatches({{this.catch_id}})">Delete</a></td>
                <td align="right">{{this.catch_id}}</td>
                <td align="right">{{this.player_id}}</td>
                <td align="right">{{this.fish_id}}</td>
                <td align="right">{{this.money_earned}}</td>
                <td>{{this.catch_date}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <script src="./js/delete_catches.js"></script>
    <p>&nbsp;</p>
</div><!-- browse -->

<div id="insert">
    <form method="POST" action="/add-catches-form" id="addThing">
        <legend><strong>Add Catch</strong></legend>
        <fieldset class="fields">
            <label>Player:</label>
            <select name="input-player_id" id="input-player-id" required>
                <option value="">Select a Player</option>
                {{#each players}}
                    <option value="{{this.player_id}}">{{this.username}}</option>
                {{/each}}
            </select>

            <label>Fish:</label>
            <select name="input-fish_id" id="input-fish-id" required>
                <option value="">Select a Fish</option>
                {{#each fishes}}
                    <option value="{{this.fish_id}}">{{this.name}}</option>
                {{/each}}
            </select>

            <label>Money Earned:</label>
            <input type="text" name="input-money_earned" required>
            <label>Catch Date:</label>
            <input type="datetime-local" name="input-catch_date" required>
        </fieldset>
        <input class="btn" type="submit" id="addThing" value="Add Catch">
        <input class="btn" type="button" value="cancel" onClick="browseThing()">
    </form>
</div><!-- insert -->
<p>&nbsp;</p>


<div id="update">
    <form method="POST" action="/put-catches-form" id="UpdateThing">
        <legend><strong>Update Catch</strong></legend>
        <fieldset class="fields">
            <input type="hidden" name="catch_id" id="update_catch_id" value="1">
            <label> catch_id: </label> 1
            <label>Player:</label>
            <select name="input-player_id" id="input-player-id" required>
                <option value="">Select a Player</option>
                {{#each players}}
                    <option value="{{this.player_id}}">{{this.username}}</option>
                {{/each}}
            </select>

            <label>Fish:</label>
            <select name="input-fish_id" id="input-fish-id" required>
                <option value="">Select a Fish</option>
                {{#each fishes}}
                    <option value="{{this.fish_id}}">{{this.name}}</option>
                {{/each}}
            </select>
            <label> money_earned </label> <input type="text" name="money_earned" value="$5.99">
            <label> catch_date </label> <input type="datetime-local" name="catch_date" value="2/3/2022">
        </fieldset>
        <input class="btn" type="submit" id="UpdateThing" value="Save Update Catch">
        <input class="btn" type="button" value="cancel" onClick="browseThing()">
    </form>
</div><!-- update -->
<p>&nbsp;</p>

<div id="delete" style="display: block">
    <form method="POST" action="/delete-catches-form" id="deleteThing">
        <legend><strong>Delete Catch</strong></legend>
        <fieldset class="fields">
            <p>Are you sure you wish to delete the following?</p>
            <input type="hidden" name="catch_id" id="delete_catch_id" value="1">
            <label><strong>catch_id: </strong></label> 1
            <label> <strong>Player ID:</strong> </label> 1
            <label> <strong>Fish ID:</strong> </label> 1
            <label> <strong>Money Earned:</strong> </label> $5.99
            <label> <strong>Catch Date:</strong> </label> 2/3/2022
        </fieldset>
        <input class="btn" type="submit" id="DeleteThing" value="Delete Catch">
        <input class="btn" type="button" value="cancel" onClick="browseThing()">
    </form>
</div><!-- delete -->


<script>
    function updateThing(catch_id, player_id, fish_id, money_earned, catch_date) {
        showform('update'); // Show the update form

        // Populate the update form fields with fish data
        $('#update_catch_id').val(catch_id);
        $('input[name="player_id"]').val(player_id);
        $('input[name="fish_id"]').val(fish_id);
        $('input[name="money_earned"]').val(money_earned);
        $('input[name="catch_date"]').val(catch_date);
    }
</script>