<h1>PlayerRods</h1>

<div id="browse">
    <table border="1" cellpadding="5">
        <thead>
        <tr>
            <th><a href="#" onClick="newThing()">New</a></th>
            <th></th>
            <th>player_id</th>
            <th>rod_id</th>
        </tr>
        </thead>
        <tbody>
        {{#each data}}
            <tr>
                <td><a href="#" onClick="updateThing('{{this.player_id}}', '{{this.rod_id}}')">Edit</a></td>
                <td><a href="#" onclick="deletePlayerRods('{{this.player_rod_id}}', '{{this.player_id}}', '{{this.rod_id}}')">Delete</a></td>
                <td align="right">{{this.player_id}}</td>
                <td align="right">{{this.rod_id}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <script src="/js/delete_player_rods.js"></script>

    <p>&nbsp;</p>
</div><!-- browse -->


  <div id="insert">
    <form method="POST" action="/add-player-rods-form" id="addThing">
      <legend><strong>Add PlayerRod Connection</strong></legend>
      <fieldset class="fields">
        <label> Select Player: </label>
        <select name="input-player_id">
            <option value="">Select a Player</option>
            {{#each players}}
                <option value="{{this.player_id}}">{{this.player_id}}</option>
            {{/each}}
        </select>

        <label> Select Rod: </label>
        <select name="input-rod_id">
            <option value="">Select a Rod</option>
            {{#each rods}}
                <option value="{{this.rod_id}}">{{this.rod_id}}</option>
            {{/each}}
        </select>

      </fieldset>
      <input class="btn" type="submit" id="addPlayerRodButton" value="Add PlayerRod Connection">
      <input class="btn" type="button" value="cancel" onClick="browseThing()">
    </form>
  </div><!-- insert -->
  <p>&nbsp;</p>

  <div id="update">
    <form method="POST" action="/put-player-rods-form" id="UpdateThing">
        <legend><strong>Update PlayerRod Connection</strong></legend>
        <fieldset class="fields">
            <label>Select Player:</label>
            <select name="update_player_id">
                {{#each players}}
                    <option value="{{this.player_id}}" {{#ifCond this.player_id '===' ../player_id}}selected{{/ifCond}}>{{this.username}}</option>
                {{/each}}
            </select>

            <label>Select Rod:</label>
            <select name="update_rod_id">
                {{#each rods}}
                    <option value="{{this.rod_id}}" {{#ifCond this.rod_id '===' ../rod_id}}selected{{/ifCond}}>{{this.name}}</option>
                {{/each}}
            </select>
        </fieldset>
        <input type="hidden" name="player_id" id="update_player_id" value="{{this.player_id}}">
        <input type="hidden" name="rod_id" id="update_rod_id" value="{{this.rod_id}}">
        <input class="btn" type="submit" id="UpdateThing" value="Save Update PlayerRod Connection">
        <input class="btn" type="button" value="cancel" onClick="browseThing()">
    </form>
</div><!-- update -->



  <div id="delete" style="display: block">
    <form method="POST" id="deleteThing">
      <legend><strong>Delete PlayerRod Connection</strong></legend>
      <fieldset class="fields">
        <p>Are you sure you wish to delete the following connection?</p>
        <input type="hidden" name="player_id" id="delete_player_id" value="1">
        <input type="hidden" name="rod_id" id="delete_rod_id" value="1">
        <label><strong>player_id:</strong></label> 1
        <label><strong>rod_id:</strong></label> 1
      </fieldset>
      <input class="btn" type="submit" id="DeleteThing" value="Delete PlayerRod Connection">
      <input class="btn" type="button" value="cancel" onClick="browseThing()">
    </form>
  </div><!-- delete -->

<script>
  function updateThing(player_id, rod_id) {
      showform('update'); // Show the update form

      // Populate the update form fields with player_rod data
      $('#update_player_id').val(player_id);
      $('#update_rod_id').val(rod_id);
  }
</script>
