
  <h1>Players</h1>

  <div id="browse">
      <!-- <p><a href="#" onClick="showAll()">Display all forms</a> </p> -->
      <table border="1" cellpadding="5" id="Fishes-table">
          <thead>
          <tr>
              <th><a href="#" onClick="newThing()">New</a></th>
              <th></th>
              {{#each data.[0]}}
                  <th>
                      {{@key}}
                  </th>
              {{/each}}
          </tr>
          </thead>
          <tbody>
          {{#each data}}
              <tr>
                  <td><a href="#" onClick="updateThing({{this.player_id}},'{{this.username}}', '{{this.total_catches}}', '{{this.join_date}}')">Edit</a>
                  </td>
                  <td><a href="#" onclick="deletePlayers({{this.player_id}})">Delete</a></td>
                  <td align="right">{{this.player_id}}</td>
                  <td align="right">{{this.username}}</td>
                  <td>{{this.total_catches}}</td>
                  <td align="right">{{this.join_date}}</td>
              </tr>
          {{/each}}
          </tbody>
      </table>
      <script src="./js/delete_players.js"></script>

      <p>&nbsp;</p>
  </div> <!-- browse -->

  <div id="insert">
    <form method="POST" action="/add-players-form" id="addThing">
      <legend><strong>Add Player</strong></legend>
      <fieldset class="fields">
        <label> username </label> <input type="text" name="input-username">
        <label> total_catches </label> <input type="text" name="input-total_catches">
        <label> join_date </label> <input type="datetime-local" name="input-join_date">
      </fieldset>
      <input class="btn" type="submit" id="addThing" value="Add Player">
      <input class="btn" type="button" value="cancel" onClick="browseThing()">
    </form>
  </div><!-- insert -->
  <p>&nbsp;</p>

  <div id="update">
    <form method="POST" id="UpdateThing">
      <legend><strong>Update Player</strong></legend>
      <fieldset class="fields">
        <input type="hidden" name="player_id" id="update_player_id" value="1">
        <label> player_id: </label> 1
        <label> username </label> <input type="text" name="username" value="player1">
        <label> total_catches </label> <input type="text" name="total_catches" value="25">
        <label> join_date </label> <input type="datetime-local" name="join_date" value="1/15/2022">
      </fieldset>
      <input class="btn" type="submit" id="UpdateThing" value="Save Update Player">
      <input class="btn" type="button" value="cancel" onClick="browseThing()">
    </form>
  </div><!-- update -->
  <p>&nbsp;</p>

  <div id="delete" style="display: block">
    <form method="POST" action="/delete-players-form" id="deleteThing">
      <legend><strong>Delete Player</strong></legend>
      <fieldset class="fields">
        <p>Are you sure you wish to delete the following?</p>
        <input type="hidden" name="player_id" id="delete_player_id" value="1">
        <label><strong>player_id: </strong></label> 1
        <label> <strong>Username:</strong> </label> player1
        <label> <strong>Total Catches:</strong> </label> 25
        <label> <strong>Join Date:</strong> </label> 1/15/2022
      </fieldset>
      <input class="btn" type="submit" id="DeleteThing" value="Delete Player">
      <input class="btn" type="button" value="cancel" onClick="browseThing()">
    </form>
  </div><!-- delete -->

  <script>
      function updateThing(player_id, username, total_catches, join_date) {
          showform('update'); // Show the update form

          // Populate the update form fields with fish data
          $('#update_player_id').val(player_id); // TODO doesn't seem to update
          $('input[name="username"]').val(username);
          $('input[name="total_catches"]').val(total_catches);
          $('input[name="join_date"]').val(join_date); // TODO doesn't seem to update
      }
  </script>