<h1>Rods</h1>

<div id="browse">
    <!-- Data for the initial catch -->
    <table border="1" cellpadding="5" id="Rods-table">
        <thead>
        <tr>
            <th><a href="#" onClick="newThing()">New</a></th>
            <th></th>
            {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
            {{/each}}
        </tr>
        </thead>
        <tbody>
        {{#each data}}
            <tr>
                <td><a href="#" onClick="updateThing('{{this.rod_id}}','{{this.name}}', '{{this.tooltip}}', '{{this.price}}', '{{this.catch_rate}}', '{{this.line_length}}', '{{this.reel_speed}}', '{{this.money_multiplier}}')">Edit</a>
                </td>
                <td><a href="#" onclick="deleteRods({{this.rod_id}})">Delete</a></td>
                <td align="right">{{this.rod_id}}</td>
                <td align="right">{{this.name}}</td>
                <td align="right">{{this.tooltip}}</td>
                <td align="right">{{this.price}}</td>
                <td align="right">{{this.catch_rate}}</td>
                <td align="right">{{this.line_length}}</td>
                <td align="right">{{this.reel_speed}}</td>
                <td align="right">{{this.money_multiplier}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <script src="./js/delete_rods.js"></script>
    <p>&nbsp;</p>
</div><!-- browse -->

  <div id="insert">
    <form method="POST" action="/add-rods-form" id="addThing">
      <legend><strong>Add Rod</strong></legend>
      <fieldset class="fields">
        <label> name </label> <input type="text" name="input-name">
        <label> tooltip </label> <input type="text" name="input-tooltip">
        <label> price </label> <input type="text" name="input-price">
        <label> catch_rate </label> <input type="text" name="input-catch_rate">
        <label> line_length </label> <input type="text" name="input-line_length">
        <label> reel_speed </label> <input type="text" name="input-reel_speed">
        <label> money_multiplier </label> <input type="text" name="input-money_multiplier">
      </fieldset>
      <input class="btn" type="submit" id="addThing" value="Add Rod">
      <input class="btn" type="button" value="cancel" onClick="browseThing()">
    </form>
  </div><!-- insert -->
  <p>&nbsp;</p>

  <div id="update">
    <form method="POST" action="/put-rods-form" id="UpdateThing">
      <legend><strong>Update Rod</strong></legend>
      <fieldset class="fields">
        <input type="hidden" name="rod_id" id="update_rod_id" value="1">
        <label> rod_id: </label> 1
        <label> name </label> <input type="text" name="name" value="Basic Rod">
        <label> tooltip </label> <input type="text" name="tooltip" value="A beginner rod">
        <label> price </label> <input type="text" name="price" value="$10.99">
        <label> catch_rate </label> <input type="text" name="catch_rate" value="0.5">
        <label> line_length </label> <input type="text" name="line_length" value="10">
        <label> reel_speed </label> <input type="text" name="reel_speed" value="1">
        <label> money_multiplier </label> <input type="text" name="money_multiplier" value="1">
      </fieldset>
      <input class="btn" type="submit" id="UpdateThing" value="Save Update Rod">
      <input class="btn" type="button" value="cancel" onClick="browseThing()">
    </form>
  </div><!-- update -->
  <p>&nbsp;</p>

  <div id="delete" style="display: block">
    <form method="POST" id="deleteThing">
      <legend><strong>Delete Rod</strong></legend>
      <fieldset class="fields">
        <p>Are you sure you wish to delete the following?</p>
        <input type="hidden" name="rod_id" id="delete_rod_id" value="1">
        <label><strong>rod_id: </strong></label> 1
        <label> <strong>Name:</strong> </label> Basic Rod
        <label> <strong>Tooltip:</strong> </label> A beginner rod
        <label> <strong>Price:</strong> </label> $10.99
        <label> <strong>Catch Rate:</strong> </label> 0.5
        <label> <strong>Line Length:</strong> </label> 10
        <label> <strong>Reel Speed:</strong> </label> 1
        <label> <strong>Money Multiplier:</strong> </label> 1
      </fieldset>
      <input class="btn" type="submit" id="DeleteThing" value="Delete Rod">
      <input class="btn" type="button" value="cancel" onClick="browseThing()">
    </form>
  </div><!-- delete -->

<script>
    function updateThing(rod_id, name, tooltip, price, catch_rate, line_length, reel_speed, money_multiplier) {
        showform('update'); // Show the update form

        // Populate the update form fields with fish data
        $('#update_rod_id').val(rod_id);
        $('input[name="name"]').val(name);
        $('input[name="tooltip"]').val(tooltip);
        $('input[name="price"]').val(price);
        $('input[name="catch_rate"]').val(catch_rate);
        $('input[name="line_length"]').val(line_length);
        $('input[name="reel_speed"]').val(reel_speed);
        $('input[name="money_multiplier"]').val(money_multiplier);
    }
</script>